@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h2>Edit</h2>

<h4>Edit this item: @Html.DisplayFor(model => model.Description)</h4>  <!--Show the model description-->

@using (Html.BeginForm()) 
{
    @Html.HiddenFor(model => model.ItemId) @*collect the id of the model to be passed on as the value of this hidden input*@

    @Html.LabelFor(model => model.Description) @*create a label for this form field. The label is the actul word Desctription*@
    @Html.EditorFor(model => model.Description) @*Editor For is describing what is being edited in the form*@

    <input type="submit" value="Save" /> 
}
<p>@Html.ActionLink("Back to list", "Index")</p>
